<div class="container titleView pointer ba bbn">
    <div class="row">
        <div class="col-lg-10 text-left">
            <h3>Address Information</h3>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-primary col-lg-12 btnInfoEdit mts">Edit</button>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-danger col-lg-12 btnInfoDelete mts">Delete</button>
        </div>
    </div>
</div>
<div class="container detailsView ba pas text-left">
    <div class="row mts">
        <div class="col-lg-2">Address1</div>
        <div class="col-lg-3">
            <input type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-2">Address2</div>
        <div class="col-lg-3">
            <input type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-2">City</div>
        <div class="col-lg-3">
            <input type="datetime" value="" class="form-control" />
        </div>
    </div>
    <div class="row mts mbs">
        <div class="col-lg-2">Country</div>
        <div class="col-lg-3">
            <input type="datetime" value="" class="form-control" />
        </div>
    </div>
    <div class="row mts mbs">
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <button id="btnSaveAddressInfo" class="btn btn-success col-lg-12 btnSaveInfo">Save Information</button>
        </div>
    </div>
</div>
